 body#reg_log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px; 
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}

h3 {
    background:  linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10%;
}

#form_container {
    padding: 25px;
    width: 348px;
    height: 40%;
    background-color: #370617;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 5%;
}

#homereg{
    margin-right: 143px ;
}

#homelog{
    margin-right: 159px;
}